<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am an experienced Research Assistant working in the area of energy-efficient artificial intelligence (AI) and computer vision (CV). With a strong background in programming, I use my knowledge in computer engineering to find novel techniques to make AI algorithms more deployable on edge devices. <br> </br>
    The ability to perform large scale computing on the cloud is fantastic. However, as the amount of data that needs to processed increases - the performance of these massive, centralized compute systems will soon get throttled by the laws of physics. Real-time AI applications can not wait for data to be beamed out to large data centers, located miles away. As data-collecting sensors become more pervasive and far-reaching - a truly autonomous and intelligent future needs AI computation to migrate to the edge.
</div>